body {
    background-color: floralwhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2, h4 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkmagenta;
}

.scoreSection {
    display: flex;
    gap: 20px;
}

.playerScore, .computerScore, .playerSelection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playerOptions {
    display: flex;
    gap: 20px;
}