body {
    background-color: floralwhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

h2, h4 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkmagenta;
}

.scoreSection, .playerOptions {
    display: flex;
    gap: 20px;
}

.playerScore, .computerScore, .playerSelection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results {
    border-style: solid;
    border-color: darkmagenta;
    color: darkmagenta;
    border-radius: 10px;
    padding: 10px;
}